$small: 576px;
$medium: 768px;
@mixin layuot($color, $size: 14px) {
  color: $color;
  background-color: invert($color: $color), 0.2;
  font-size: $size;
  margin: $size;
  padding: $size;
  line-height: calc($size*1.5);
  border: 5px solid $color;
}

#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include layuot(darkred,14px )

}

@media screen (min-width: $small) and (max-width:$medium){
    #container{
        @include layuot(darkblue,16px)
    }
}