h1 {
    width: 300px;
    /* magin : auto => căn giữa */
    margin: auto;
}

h1,p {
    /* display: inline; */
}
img {
    width: 300px;
    display: block;
    margin: auto;
}
p {
    /* display: none; */
}